<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- development version, includes helpful console warnings -->
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <!-- gfont -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <!-- axios cdn -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
      <!-- fontawesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <title>boolflix</title>
   </head>
   <body>
      <div id="app">
         <header>
            <div class="container navBar">
               <nav>
                  <div class="logo left">
                     <img src="img/boolflix.png" alt="boolflix logo">
                  </div>
                  <div class="right">
                     <div :class="styleSearchBg" class="search">
                        <label @click="searchActive" class="searchIcon" for="searchInput"><i class="fas fa-search"></i></label>
                        <input :class="styleSearchWw" class="searchInput" id="searchInput" v-model="search" type="text" placeholder="Titoli, Persone, Generi" @keydown.13="getMovie">
                     </div>
                     <div class='languages'>
                        <select  v-model="languagesIndex" name="" id="">
                           <option value="0">IT</option>
                           <option value="1">EN</option>
                           <option value="2">ES</option>
                           <option value="3">DE</option>
                           <option value="4">中国</option>
                           <option value="5">RU</option>
                        </select>
                     </div>
                  </div>
               </nav>
            </div>
         </header>
         <main>
            <section v-if="series.length != 0" class="series_section">
               <h2>serie TV</h2>
               <div class="series">
                  <div class="movie" v-for="serie in series" v-if="serie.poster_path != null" class="serie">
                     <div class="poster">
                        <img :src="'https://image.tmdb.org/t/p/w500' + serie.poster_path" :alt="serie.name">
                     </div>
                     <div class="info">
                        <div class="flag">
                           <img v-if="serie.original_name != ''" :src="'img/' + serie.original_language + '.png'" alt="">
                        </div>
                        <p>{{languages[languagesIndex].title}}: <br><strong>{{serie.name}}</strong></p>
                        <p>{{languages[languagesIndex].originalName}}: <br><strong>{{serie.original_name}}</strong></p>
                        <p v-if=" serie.vote_average > 0">{{languages[languagesIndex].vote}}: <br><strong><i v-for=" n in serie.vote_average" class="fas fa-star"></i></strong></p>
                        <p v-if="serie.overview != ''" >{{languages[languagesIndex].overview}}:<br>{{serie.overview}}</p>
                     </div>
                  </div>
               </div>
            </section>
            <section v-if="movies.length != 0" class="movies_section">
               <h2>Movies</h2>
               <div class="movies">
                  <div class="movie"v-for="movie in movies" v-if="movie.poster_path != null" class="movie">
                     <div class="poster">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title">
                     </div>
                     <div class="info">
                        <div class="flag">
                           <img v-if="movie.original_name != ''" :src="'img/' + movie.original_language + '.png'" alt="">
                        </div>
                        <p>{{languages[languagesIndex].title}}: <br><strong>{{movie.title}}</strong></p>
                        <p>{{languages[languagesIndex].originalName}}: <br><strong>{{movie.original_title}}</strong></p>
                        <p v-if=" movie.vote_average > 0">{{languages[languagesIndex].vote}}: <br><strong><i v-for=" n in movie.vote_average" class="fas fa-star"></i></strong></p>
                        <p v-if="movie.overview != ''" >{{languages[languagesIndex].overview}}:<br>{{movie.overview}}</p>
                     </div>
                  </div>
               </div>
            </section>
         </main>
      </div>
      <script src="js/script.js"></script>
   </body>
</html>