<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- development version, includes helpful console warnings -->
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <!-- gfont -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
      <!-- axios cdn -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
      <!-- fontawesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <title>boolflix</title>
   </head>
   <body>
      <div id="app">
         <header>
            <div class="container navBar">
               <nav>
                  <div class="logo left">
                     <img src="img/boolflix.png" alt="boolflix logo">
                  </div>
                  <div class="right">
                     <div class="search">
                        <input v-model="search" type="text" placeholder="Che film vuoi guardare" @keydown.13="getMovie">
                     </div>
                  </div>
               </nav>
            </div>
         </header>
         <main>
            <div class="movies">
                  <div class="movie"v-for="movie in movies" v-if="movie.poster_path != null" class="movie">
                     <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title">
                     <div class="info">
                        <p>Titolo: <br><strong>{{movie.title}}</strong></p>
                        <p>Titolo originale: <br><strong>{{movie.original_title}}</strong></p>
                        <p>Voto: <br></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <p>Riassunto:<br>{{movie.overview}}</p>
                     </div>
                    
               </div>
            </div>
         </main>
      </div>
      <script src="js/script.js"></script>
   </body>
</html>